{% extends 'base.html' %} {% block content %}

<div class="content">
    <p>Hi, I’m John Nutter. I’m a software engineer and full-stack developer with a background in technical and support. I enjoy working with a wide range of web technologies, but my most recent stack has been Node.js, Express.js, React.js, and PostgreSQL.
        I also enjoy working with Python and Django to create RESTful APIs and an affinity for Unix-based systems.</p>

    <p>For my latest resume, click <a href="https://www.jnutterdev.com/assets/images/JohnNutterResumeJan2021.pdf">here</a></p>

    <p>In my free time, I’m spending time with my wife and son, producing music with <a href="https://www.bitwig.com/">Bitwig</a>, or graphic design with <a href="https://affinity.serif.com/en-gb/designer/">Affinity Designer</a>. I also really like sci-fi,
        comic books, listening to podcasts, and catching up on the latest industry news.</p>

    <h3 id="websites">Websites:</h3>

    <p><a href="https://www.terribledevice.com">terribledevice</a>: personal blogging website for music production tips</p>

    <p><a href="https://www.ashtephra.com">ashtephra</a>: record label for releasing music I’ve created</p>
</div>

{% endblock content %}