{% load webp %}
{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>John Nutter</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	</head>
	<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    		{% include './partials/nav.html' %}
			{% include './partials/body.html' %}
			{% include './partials/footer.html' %}
	

	</body>
</html>
</body>

</html>